<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bokio - Home</title>
  <link rel="icon" href="{{ url_for('home_route.static', filename='bokio.png') }}" sizes="16x16" type="image/png">
  <link rel="stylesheet" href="{{ url_for('home_route.static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body style="background-color:#edf2f7;">
  <nav dir="rtl" class="navbar navbar-light" style="background-color: #706fd3;z-index: 1;position: sticky">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('home_route.static', filename='bokio.png') }}" width="40" height="40" alt="" style="border-radius: 5px; border: 1px darkgrey double;box-shadow: 5px 5px #888888">
    </a>
  </nav>
  <div class="border-bottom" style="height: 5%;background-color:#706fd3;">
    
  </div>
  <div class="container" style="margin-top: -0.3rem;">
      <div class="jumbotron border" style="margin-top: -32px; padding-top: 2rem;padding-bottom: 2rem;z-index: 2;position: sticky; background-color: white;">
        <nav dir="rtl" class="navbar navbar-light" style="text-align: right;">
                <div class="row vazir">
                  <div class="col-sm-4 col-md-4">
                    <div>
                        <h3>پروژه</h3>
                    </div>
                    <div>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    </div>
                  </div>
                  <div class="col-sm-8 col-md-8">
                    <label for="basic-url">عنوان</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <label for="basic-url">آدرس</label>
                    <div dir="ltr" class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">https://bokio.fly.dev/</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                    <label for="basic-url">توضیحات</label>
                    <div class="input-group">
                      <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                </div>
        </nav>
      </div>
    <div class="row" style="padding:0 1rem;">
        <button class="btn btn-primary btn-sm Vazir" style="font-family: vazir;padding:0.5rem 0.5rem;">ایجاد کتاب</button>
        <button class="btn btn-light btn-sm Vazir border" style="font-family: vazir;padding:0.5rem 1rem; margin-left: 10px;background-color: #edf2f7;">انصراف</button>
    </div>
</div>
  <!-- partial -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
