<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Editor</title>
  <link rel='stylesheet' href='https://cdn.quilljs.com/1.3.6/quill.bubble.css'>
  <link rel="stylesheet" href="{{ url_for('editor_route.static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="navbar" style="background-color: white;">
    <a class="navbar-brand" href="#">
      <button type="button" class="btn btn-primary vazir">ذخیره</button>
    </a>
    <div class="mr">
      <button type="button" class="btn btn-light vazir" style="padding-top: 12px;" onclick="location.href='/'">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
  </nav>
  <!-- partial:index.partial.html -->
  <div class="container">
    <div id="scrolling-container">
      <div id="quill-container">
        {{ page }}
      </div>
    </div>
  </div>
  <nav dir="rtl" class="navbar fixed-bottom navbar-light bg-light border-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('editor_route.static', filename='bokio.png') }}" width="40" height="40" alt="" style="border-radius: 5px;">
    </a>
  </nav>
  <!-- partial -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='https://cdn.quilljs.com/1.3.6/quill.js'></script>
  <script src="{{ url_for('editor_route.static', filename='script.js') }}"></script>

</body>

</html>